<div class="login-status-header">

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        <!-- displaying the user name if they login and authenticated successfully-->

        <p style="color:red"> Hello, {{userFullName}}</p>
       
    </div>

    <!-- display buttons of signin or signout based on the authenticatoin status if the user signin or signou-->

    <!--if not autheheticated then show the signin button-->
    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Sign In</button>

     <!--if is autheheticated then show the signout button-->
    <button *ngIf="isAuthenticated" (click)="userLogout()" class="security-btn">Sign Out</button>

    <!--FOr authenticated members only-->
    <!-- <button *ngIf="isAuthenticated" routerLink="/members"  class="security-btn ms-1">Member</button>
 -->
      <!--FOr authenticated members for order historys-->
      <button *ngIf="isAuthenticated" routerLink="/order-history"  class="security-btn ms-1">Orders</button>

</div>
