<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

 

      <h3>Orders History</h3>

      <div *ngIf="orderHistoryList.length > 0">
        <table class="table table-bordered">

            <tr>

              <th width="30%">Order Tracking Number</th>
              <th width="15%">Total Price</th>
              <th width="15%">Total Quantity</th>
              <th width="15%">Date</th>

            </tr>

              <!-- looping over odrerHistorylist-->
            <tr *ngFor="let tempOrderHistory of orderHistoryList">

              <td> {{tempOrderHistory.orderTrackingNumber}} </td>

              <td> {{tempOrderHistory.totalPrice | currency:'GBP'}} </td>

              <td> {{tempOrderHistory.totalQuantity}} </td>

              <td> {{tempOrderHistory.dateCreated| date:'medium'}} </td>

            </tr>

        </table>

      </div>

      <!-- if the user does not have order history meaning they havent purchased yet-->
      <div *ngIf="orderHistoryList.length === 0" class="alert alert-warning col-md-12" role="alert">

          You have no orders

      </div>

    </div>
  </div>
</div>